MYSQL_ROOT_PASSWORD=change_me
BLOG_JWT_SECRET=change_me_to_a_long_random_secret
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=change_me
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/blog?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
